.git
.idea
.vscode
.DS_Store
build
build_tests
demos/**/build/
ptoas/out/
ptoas/mlir/build/
ptoas/mlir/build-*/
site/
.venv-mkdocs/
*.o
output/
__pycache__/
*.log
tests/npu/a2a3/src/st/build
tests/npu/a5/src/st/build
kernels/manual/a2a3/gemm_performance/build*/
kernels/manual/a2a3/gemm_performance/input/
kernels/manual/a2a3/gemm_performance/output/
